// Boards css


/*
 * Calcul des largeurs de page
 * n * (236+14) 
 *
 */


section#boards, section#private-boards, section#pins, section#navigation {

    vertical-align: top;
    position: relative;
    margin-top: 74px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 750px;
}

section#private-boards {
    margin-top: 14px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}

#private-boards-wrapper {
    background-color: @private-boards-wrapper;
    border-top: 1px solid @00;
}

@media screen and (min-width: 1030px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 1000px;
    }
}

@media screen and (min-width: 1280px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 1250px;
    }
}

@media screen and (min-width: 1780px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 1750px;
    }
}

@media screen and (min-width: 2280px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 1750px;
    }
}

@media screen and (min-width: 2780px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 2250px;
    }
}

@media screen and (min-width: 3280px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 2750px;
    }
}

@media screen and (min-width: 3780px) {
    section#boards, section#private-boards, section#pins, section#navigation {
        width: 3250px;
    }
}









article.board, article.create-board, article#user, article.pin-standalone,
article.pin, article#create-pin, #user-compact, .user-compact, article.user, .notification {
    position: relative;
    display: inline-block;
    margin: 14px 7px 0px 7px;
    width: 236px;
    height: 304px;
    background-color: @articles-bg;
    box-shadow: 0 0 8px #000;
    box-sizing: border-box;
    border-radius: 4px;
    vertical-align: top;

    h1 {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: @00;
        margin:  0 3px 6px 3px;
    }
    div.label {
        position: absolute;
        color: @FF;
        font-weight: bold;
        font-size: 12px;
        background-color: rgba(34, 34, 34, 0.8); //@22
        border-radius: 3px;
        box-shadow: 0px 0px 2px @00 inset;
        padding: 3px 6px;
    }
    div.board-n-pins {
        bottom: 110px;
        right: 14px;
    }
    div.board-change-cover {
        top: 40px;
        right: 14px;
        a {
            color: @CC;
            &:hover, &:focus, &:active {
                color:@FF;
            }
        }
    }
    div.board-left-arrow, div.board-right-arrow {
        top: 110px;
        height: 20px;
        width: 20px;
        box-sizing: border-box;
        display: none;
        padding: 0px;
        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    div.board-left-arrow {
        left: 14px;
        a:before {
            left: 5px;
            top: 4px;
            .arrow-left(@CC, 6px, 8px);
        }
        a:focus:before, a:hover:before, a:active:before {
            .arrow-left(@FF, 6px, 8px);
        }
    }
    div.board-right-arrow {
        right: 14px;
        a:before {
            right: 5px;
            top: 4px;
            .arrow-right(@CC, 6px, 8px);
        }
        a:focus:before, a:hover:before, a:active:before {
            .arrow-right(@FF, 6px, 8px);
        }
    }

    a.board-previews {
        padding: 10px;
        display: block;

        &:hover, &:focus, &:active {
            img {
                -webkit-filter: brightness(110%);
            }
        }
    }

    img.board-main-preview {
        width: 214px;
        height: 160px;
        border-radius: 2px;
        border: 1px solid @22;
    }

    li {
        display: inline-block;
        margin-right: 4px;
        margin-top: 2px;
        width: 49px;
        height: 49px;
        border-radius: 2px;
        border: 1px solid @22;
        img {
            height: 49px;
            width: 49px;
            border-radius: 2px;
        }
    }
    li:last-child {
        margin-right: 0;
    }
}
article#user {
    button {
        float: right;
        margin-right: 15px;
        width: auto;
    }
    ul.social-icons {
        position: absolute;
        bottom: 50px;
        left: 100px;
        clear: none;
        border: none;
        text-align: bottom;
        .social-icon {
            display: inline-block;
            background: #666;
            height: 22px;
            width: 22px;
            border-radius: 11px;
            overflow: hidden;
            border: 1px solid @47;
            //box-shadow: 1px 1px 0 @66 + 20, inset 1px 1px @66 + 20;
            margin-right: 4px;
            a {
                display: block;
                height: 100%;
                margin: 0;
            }
            a.fb {
                background-image: url('@{base-image}structure/fb.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/fb.png');
                }
            }
            a.flickr {
                background-image: url('@{base-image}structure/flickr.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/flickr.png');
                }
            }
            a.px500 {
                background-image: url('@{base-image}structure/500px.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/500px.png');
                }
            }
            a.twitter {
                background-image: url('@{base-image}structure/twitter.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/twitter.png');
                }
            }
            a.gplus {
                background-image: url('@{base-image}structure/gplus.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/gplus.png');
                }
            }
            a.pinterest {
                background-image: url('@{base-image}structure/pinterest.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/pinterest.png');
                }
            }
            a.vk {
                background-image: url('@{base-image}structure/vk.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/vk.png');
                }
            }
            a.instagram {
                background-image: url('@{base-image}structure/instagram.grey.png');
                &:hover {
                    background-image: url('@{base-image}structure/instagram.png');
                }
            }
        }
    }
}
article.create-board, article#create-pin {
    text-align: center;

    a {
        background-color: @board-create-bg;
        box-sizing: border-box;
        border-radius: 4px;
        border: 2px dashed @articles-bg;
        display: block;
        height: 100%;

        div.plus {
            position: relative;
            width: 40px;
            height: 40px;
            margin: 90px auto 10px; 
            border: 1px solid @22;
            border-radius: 20px;
            background-color: @50;
            box-shadow: 0 0 10px @31 inset;
            &:after, &:before {
                content: "";
                display: block;
                position: absolute;
                background-color: @22;
            }
            &:after {
                height: 22px;
                width: 6px;
                top: 9px;
                right: 17px;
            }
            &:before {
                height: 6px;
                width: 22px;
                top: 17px;
                right: 9px;
            }

        }

        &:hover, &:focus, &:active {
            background-color: @50;
            border: 2px dashed @91;

        }
    }
}
article.board, article.user {
    button {
        width: 216px;
        height: 31px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 8px 14px 7px;
        margin: 0;
        font-weight: bold;
        font-size: 0.8em;
        box-sizing: border-box;
    }
}

#user-wrapper {
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}
article#user, #user-compact, .user-compact, .notification {
    max-width: 1236px;
    display: block;
    width: auto;
    margin: 14px 7px 2px 7px;
    height: 142px;
    overflow: hidden;
    img {
        width: 80px;
        height: 80px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 0 0 6px @00;
        float: left;
    }
    a:hover img {
        box-shadow: 0 0 10px @00;
    }
    h1, h2 {
        display: inline-block;
        vertical-align: top;
        margin-top: 12px;
        font-size: 1.5em;
    }
    hr {
        margin: 0 15px 8px 10px;
        height: 0;
        border: none;
        border-top: 1px solid @31;
        border-bottom: 1px solid #7a7a7a;
    }
    .user-website {
        font-size: 0.8em;
        vertical-align: top;
    }
    ul {
        clear: both;
        border-top: 1px solid @47;

    }
    li {
        display: inline-block;
        width: 25%;
        height: 41px;
        margin: 0;
        border: none;
        border-right: 1px solid @47;
        border-radius: 0;
        box-sizing: border-box;
        text-align: center;
        &.selected {
            background: @50;
            a {
                color: @00;
            }
            a:hover, a:focus, a:active {
                background: @50;
            }
        }
        span.number {
            font-weight: bold;
        }
        span.title, span.number {
            font-size: 0.9em;
        }
        a {
            display: block;
            box-sizing: border-box;
            padding: 3px 5px;
            height: 100%;
            width: 100%;
            color: @22;
            &:hover, &:focus, &:active {
                background: @58;
                color: @00;
            }
        }
    }
    li:last-child {
        border: none;
    }
    
}


