// Main page layout

body {
    background-color: @BG;
    font-size: 16px;
    font-family: @sans;
}

strong, label, h {
    font-weight: bold;
}

em {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}

a, a:visited {
    color: @00;
    &:hover {
        color: @FF;
    }
}

.accessibility-text {
    left: -100000px;
    position: absolute;
    color: transparent;
    height: 0;
    width: 0;
    display: block;

}

#banner-header {
    height: 60px;
    background-color: @header-bg;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;

    h1 {
        height: 45px;
        width: 138px;
        margin-right: auto;
        margin-left: auto;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    hr {
        height: 1px;
        border: none;
        color: @44;
        margin: 8px 0 0;
        background-color: @44;
    }
}
#header-wrapper {
    height: 45px;
    position: relative;
}
#user-bar, #login-button {
    width: 200px;
    border-radius: 3px;
    padding: 3px 6px 3px 36px;
    position: absolute;
    top: 11px;
    right: 20px;
    background-color: @66;
    color: @00;
    height: 32px;
    line-height: 26px;
    vertical-align: middle;
    box-sizing: border-box;
    .degrade(@73, @40, @66);
    
    img {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 5px;
        left: 7px;
        margin-right: 7px;
    }

    ul {
        width: auto;
        line-height: 30px;
        border: 1px solid @22;
        border-radius: 4px;
        background-color: @articles-bg;
        margin-top: 3px;
        padding: 10px 0px;

        a {
            display: block;
            padding: 0px 10px;
            height: 100%;
            font-size: 0.9em;
        }

        a:hover, a:focus, a:active {
            color: @00;
            background-color: @58;
        }

    }
}
#login-button {
    width: 90px;
    padding: 3px 6px;
    text-align:center;
}
#pinpict {
    background: url("@{base-image}structure/pinpict.png") center bottom no-repeat;
}

#user-menu {
    position: relative;
    display: none;
    z-index: 100;
    background: @66;
    border-radius: 0px 3px 0px 3px;

}
#user-bar:hover > #user-menu {
    display: block;
}

