// pin css
section#pins {
    header {
        padding: 1px 10px 10px;
        text-align: center;
        h1 {
            font-weight: bold;
            font-size: 2.2em;
            margin: 1em 0 0.4em;
        }
        p#private, p#n-pins {
            font-size: 0.9em;
            margin: 5px;
        }
        p#n-pins {
            font-weight: bold;
        }
        p#description {
            margin: 25px;
        }
    }
}

article.pin {
    position: relative;
    height: auto;
    overflow: hidden;
    div.buttons-wrapper:hover button {
        display: block;
    }
    img {
        border-bottom: 1px solid @50;
    }
    button {
        position: absolute;
        display: none;
        width: auto;
        top: 8px;
        margin: 0;
        height: 30px;
    }
    button.pinit {
        right: 8px
    }
    button.edit {
        left: 8px;
        //width: 30px; !!! to change with a logo
        color: @00;
        border: none;
        .degrade(@F7, @CC, @F7)
    }
    p.pin-description {
        padding: 7px 14px;
        font-size: 0.9em;
    }
    footer {
        border-top: 1px solid @50;
        font-size: 0.8em;
        span {
            font-weight: bold;
            color: @00;
        }
        a {
            padding: 7px 14px;
            display: block;
            height: 100%;
            color: @22;
            line-height: 17px;
            &:hover, &:focus, &:hover {
                background-color: @58;
                color: @22;
            }
        }
    }
}

#user-compact {
    height: 60px;
    img {
        width: 40px;
        height: 40px;
    }
    h2 {
        font-size: 1.1em;
        font-weight: bold;
        a:hover, a:focus, a:active {
            color: @22;
        }
    }
    button {
        float: right;
        margin: 13px 10px;
        width: auto;
    }
}
