// pin css
section#pins {
    header {
        padding: 1px 10px 10px;
        text-align: center;
        h1, h2{
            font-weight: bold;
            font-size: 2.2em;
            margin: 1em 0 0.4em;
        }
        h2 {
            font-size: 1.4em;
            color: @98;
            span {
                font-size: 0.7em;
                font-weight: normal;
                color: @73;
            }
        }
        p#private, p#n-pins {
            font-size: 0.9em;
            margin: 5px;
        }
        p#n-pins {
            font-weight: bold;
        }
        p#description {
            margin: 25px;
        }
    }
}


article.pin, article.pin-standalone {
    position: relative;
    height: auto;
    overflow: hidden;
    div.buttons-wrapper {
        a {
            display: block;
        }
    }
    div.buttons-wrapper:hover button, div.buttons-wrapper:hover input[type="submit"] {
        display: block;
    }
    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    form {
        margin: 0;
        padding: 0;
    }
    /*a.pin-link:hover, a.pin-link:active, a.pin-link:focus {
        img {
            -webkit-filter: brightness(110%);// doen't work with buttons
        }
    }*/
    button, input[type="submit"] {
        position: absolute;
        display: none;
        width: auto;
        min-width: 80px;
        top: 8px;
        margin: 0;
        height: 30px;
    }
    button.pinit, input.pinit {
        right: 8px
    }
    button.edit {
        left: 8px;
        //width: 30px; !!! to change with a logo
        color: @00;
        border: none;
        .degrade(@F7, @CC, @F7)
    }
    p.pin-description {
        border-top: 1px solid @50;
        padding: 10px 14px;
        font-size: 0.9em;
        line-height: 1.4em;
        word-wrap: break-word;
    }
    footer {
        border-top: 1px solid @50;
        font-size: 0.8em;
        span {
            font-weight: bold;
            color: @00;
        }
        p.size {
            padding: 7px 14px;
            color: @22;
            background-color: @58;
            text-align: center;
            span {
                font-weight: normal;
            }
        }
        a {
            padding: 7px 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            position: relative;
            height: 100%;
            min-height: 34px;
            color: @22;
            line-height: 17px;
            img {
                box-shadow: 0 0 3px @00;
                position: relative;
                left: -7px;
                width: 34px;
                height: 34px;
                float: left;
            }
            &:hover, &:focus, &:hover {
                background-color: @58;
                color: @22;
            }
        }
    }
}

article.pin-standalone {
    float: right;
    margin: 0 0 0 15px;
}

#user-compact, .user-compact, .notification {
    height: 60px;
    img {
        width: 40px;
        height: 40px;
    }
    h2 {
        font-size: 1.1em;
        font-weight: bold;
        a:hover, a:focus, a:active {
            color: @22;
        }
    }
    button {
        float: right;
        margin: 13px 10px;
        width: auto;
    }
}


// pin view css
section#pin {
    padding-bottom: 50px;
    article {
        position: relative;
        background: @articles-bg;
        box-shadow: 0 0 8px @00;
        border: 1px solid @22;
        border-radius: 4px;
        width: 736px;
        margin: 50px auto 14px;
        header {
            height: 60px;
            padding: 0 8px;
            border-bottom: 1px solid @31;
            form {
                margin: 0;
                float: right;
            }
            button, input[type="submit"] {
                width: auto; 
                margin-top: 10px;
                height: 40px;
            }
        }
        a:hover, a:focus, a:active {
            div#image-wrapper {
                background-color: @58;
            }
        }
        a#back-to-board {
            position: fixed;
            display: block;
            top: 80px;
            right: 0;
            height: 80px;
            width: 80px;
            box-shadow: 0 0 8px @22;
            border: 1px solid @22;
            background-color: @40;
            border-radius: 4px 0 0 4px;
            &:hover, &:focus, &:active {
                background-color: @58;
            }
            &:before {
                .arrow-right(@22, 20px, 25px);
                right: 15px;
                top: 50%;
                margin-top: -18px;
            }
            &:after {
                content: "";
                display: block;
                height: 10px;
                width: 28px;
                position: absolute;
                top: 50%;
                margin-top: -3px;
                right: 30px;
                background-color: @22;
            }
        }
        a#previous-pin, a#next-pin {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 55px;
            div {
                visibility: hidden;
                width: 45px;
            }
            &:hover div, &:active div, &:focus div {
                visibility: visible;
                position: absolute;
                height: 80px;
                width: 45px;
                top: 40%;
                border-radius: 4px;
                background-color: @40;
                box-shadow: 0 0 8px @22;
                border: 1px solid @22;
            }

        }
        a#previous-pin {
            left: -55px;
            div {
                left: 0;
                &:before {
                    .arrow-left(@22, 20px, 20px);
                    left: 10px;
                    top: 50%;
                    margin-top: -18px;
                }
            }
        }
        a#next-pin {
            right: -55px;
            div {
                right: 0;
                &:before {
                    .arrow-right(@22, 20px, 20px);
                    right: 10px;
                    top: 50%;
                    margin-top: -18px;
                }
            }
        }
        div#image-wrapper {
            border-bottom: 1px solid @31;
            background-color: @47;
            text-align: center;
        }
        img {
            margin: 8px 5px;
            max-width: 726px;
        }
        p.pin-description {
            padding: 18px 25px;
            line-height: 1.4em;
            word-wrap: break-word;
        }
        footer {
            border-top: 1px solid @50;
            font-size: 0.95em;
            span {
                font-weight: bold;
                color: @00;
            }
            a {
                display: block;
                height: 100%;
                padding: 15px 25px;;
                color: @22;
                border-radius: 0 0 4px 4px;
                &:hover, &:focus, &:hover {
                    background-color: @58;
                    color: @22;
                }
            }
        }
    }
    article.user-compact {
        margin-top: 25px;
        height: auto;
        padding: 15px;
        h2 {
            margin-top: 18px
        }
        img {
            height: 60px;
            width: 60px;
            margin: 0 15px 0 0;

        }
        p {
            line-height: 1.4em;
            vertical-align: middle;
        }
        span {
            font-size: 0.9em;
        }
        span.date {
            color: @22;
        }
        a:hover, a:focus, a:active {
            color: @00;
        }
    }

    ul.rate {
        border: none;
        position: absolute;
        right: 15px;
        bottom: 0;
        padding: 10px 0;
        a {
            padding: 0;
            &:hover, &:active, &:focus {
                background-color: @66;
            }
        }
    }
}



// forms
article#form, article#form-pin-from {
    background: @articles-bg;
    box-shadow: 0 0 8px @00;
    border: 1px solid @22;
    border-radius: 4px;
    width: 770px;
    margin: 50px auto;
    padding: 20px 0 40px;
    overflow: hidden;
    header {
        border-bottom: 1px solid @31;
        padding: 0 60px 15px;
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
    }
    h1 {
        margin-top: 0.4em;
        font-weight: bold;
        font-size: 1.6em;
    }
    p {
        margin: 16px 0;
    }
    p.text-wrapper {
        padding-top: 40px;
    }
    p.pin-description {
        margin: 0;
    }
    p.submit {
        margin-top: 40px;
    }
    img.preview {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        display: inline-block;
        line-height: normal;
    }
    div.field_wrapper.img {
        width: 390px;
        margin-right: 0;
    }
    #preview-wrapper {
        position: absolute;
        bottom: 79px;
        right: 0px;
        width: 236px;
        height: 296px;
        text-align: center;
        border-radius: 4px;
        overflow: hidden;
        background-color: @47;
        border: 1px solid @31;
        white-space : nowrap;
        vertical-align: middle;
        // hack found here : http://jsfiddle.net/kizu/4RPFa/4571/
        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}


// form to choose pin origin
article#form-pin-from {
    padding: 20px 0 0;
    li {
        box-sizing: border-box;
        width: 50%;
        height: 150px;
        line-height: 150px;
        display: inline-block;
        border-right: 1px solid @31;
        background-color: @58;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        a {
            display: block;
            height: 100%;
            &:hover, &:active, &:focus {
                background: @66;
                color: @00;
            }
        }
    }
    li:last-child {
        border-right: none;
    }
}


// rating
ul.rate {
    text-align: center;
    padding: 5px 0;
    height: 25px;
    border-top: 1px solid @50;
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 25px;
        width: 25px;
        border: none;
        a {
            padding: 0;
            height: 25px;
            min-height: 25px;
            &:hover, &:focus, &:active {
                background-color: @66;
            }
        }
        a.point {
            background-image: url('@{base-image}structure/point.png');
        }
        a.star {
            background-image: url('@{base-image}structure/star.png');
        }
    }
}
