// Users css

article.user {
    height: 312px;
    header {
        p {
            text-align: center;
            span.numbers {
                font-size: 0.9em;
                color: @22;
            }
            margin-bottom: 8px;
        }
        h1 {
            margin-bottom: 2px;
        }
    }
    .user-avatar {
        border: 1px solid @22;
        border-radius: 2px;
        display: block;
        width: 140px;
        height: 140px;
        margin: 6px auto 8px auto;
    }
}
