# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# bdd
db.sqlite3
db.sqlite3.master
db.sqlite3.dev

# data files
pinpict/data/tmp/*/
pinpict/data/tmp/*
pinpict/data/previews/*/
pinpict/data/previews/*
pinpict/data/images/avatars/*/
pinpict/data/images/avatars**
# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# vim files
*.swp
*.swo
*.swn

# whoosh indexes
pinpict/whoosh_index/*
pinpict/whoosh_index/*/
*.toc
*.seg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

