django==2.2.24                     # django framework
httplib2                        # Python alternative http librairy
wand                            # Imaging librairy
django-haystack==2.4.1                 # django search engine abstraction interface
django-debug-toolbar            # django profiling tool
whoosh                          # search engine
pillow                          # imaging librairy
