{% extends "base.html" %}
{% load static %}
{% block title %}
{{ owner.get_short_name }} on Pinpict
{% endblock %}

{% block body %}
<section id="boards">
{% include 'user/user_owner.html' with selected='board' %}
{% spaceless %}
{% if user == owner %}
<article class="create-board">
    <a href="{% url "board_create" %}">
    <div class="plus"></div>
    <h1>Create a board</h1>
    </a>
</article>
{% endif %}
{% for board in boards %}
{% include 'board/board_board.html' %}
{% endfor %}
{% endspaceless %}
</section>


{% if private_boards or user == owner%}
{% spaceless %}
<div id="private-boards-wrapper">
<section id="private-boards">
    <h2>Private boards</h2>
{% if user == owner %}
<article class="create-board">
    <a href="{% url "private_board_create" %}">
        <div class="plus"></div>
    <h1>Create a private board</h1>
    </a>
</article>
{% endif %}
{% for board in private_boards %}
{% include 'board/board_board.html' %}
{% endfor %}
{% endspaceless %}
{% endif %}
</section>
</div>
{% endblock body %}

