{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block header %}{% endblock %}
{% block body %}
{% with owner=pin.board.user %}
<section id="pin">
<article>
<header>
    <form method="post" action="{% url "create_pin" %}" data-navigate="pinit">
        {% csrf_token %}
        <input type="hidden" name="pin" value="{{ pin.pk }}" />
        <input type="submit" value="Pin it" class="pinit"/>
    </form>
    {% if pin.source %}
    <a href="{{ pin.source }}" target="_blank">
    <button type="button">Visit Site</button>
    </a>
    {% endif %}
    <a href="{{ MEDIA_URL }}{{ pin.resource.source_file }}" target="_blank">
    <button type="button">Image</button>
    </a>
    {% if owner == user %}
        <a href="{% url 'update_pin' pin.pk %}" data-navigate="edit">
        <button type="button">Edit</button>
    {% elif user.is_authenticated and user in pin.likes.all %}
        <a href="{% url "user_unlike_pin" pin.pk %}" class="like-pin" title="Unlike this pin"><button type="button">Unlike</button></a>
    {% elif user.is_authenticated %}
        <a href="{% url "user_like_pin" pin.pk %}" class="like-pin" title="Like this pin"><button type="button">Like</button></a>
    {% endif %}
    <button type="button">{{ pin.n_likes }}</button>
    <a id="back-to-board" rel="bookmark" href="{% url "board_view" owner.slug pin.board.slug %}" title="Back to board"><span class="accessibility-text">back to board</span></a>
</header>
{% if prev %}
<a href="{% url "pin_view" prev %}" id="previous-pin" title="Previous pin" rel="prev"><div><span class="accessibility-text">previous pin</span></div></a>
{% endif %}
{% if next %}
<a href="{% url "pin_view" next %}" id="next-pin" title="Next pin" rel="next"><div><span class="accessibility-text">next pin</span></div></a>
{% endif %}
{# !!! look to add a lightbox link here, or a link to full image, in template or not #}
{% if pin.source %}
    {# link to origin url #}
    <a href="{{ pin.source }}" target="_blank">
{% else %}
    {# link to full image #}
    <a href="{{ MEDIA_URL}}{{ pin.resource.source_file }}" target="_blank">
{% endif %}
<div id="image-wrapper">
<img src="{{ MEDIA_URL }}previews/736/{{ pin.resource.previews_path }}" alt="{{ pin.description }}" />
</div>
</a>
<p class="pin-description">
{{ pin.description|urlize|linebreaksbr }}
</p>
<footer>
{% if pin.source %}
<a href="{{ pin.source }}" target="_blank"><span>Found on</span> {{ pin.source_domain }}</a>
{% else %}
{% with resource_user=pin.resource.user %}
<a href="{#{% url "boards_list" resource_user.slug %}#}" target="_blank"><span>Uploaded to Pinpict by</span> {{resource_user.get_full_name }}</a>
{% endwith %}
{% endif %}
{% if owner == user %}
<ul class="rate">
{% include 'pin/pin_rate.html' %}
</ul>
{% endif %}
</footer>
</article>



<article class="user-compact">
    {% if owner.avatar %}
        <a href="{% url "boards_list" owner.slug %}"><img src="{{ MEDIA_URL }}{{ owner.avatar }}" /></a>
    {% else %}
        <a href="{% url "boards_list" owner.slug %}"><img src="{% static 'images/structure/default_avatar.png' %}" /></a>
    {% endif %}
    <p><a href="{% url "boards_list" owner.slug %}">
        <span>Added by</span><br /><strong>
            {{ owner.get_full_name }}
        </strong></a> <span class="date">&#149; {{ pin.date_created|naturaltime }}</span></p>
</article>


{% if pin.added_via %}
<article class="user-compact">
    {% with via=pin.added_via.pin_user %}
    {% if via.avatar %}
        <a href="{% url "boards_list" via.slug %}"><img src="{{ MEDIA_URL }}{{ via.avatar }}" /></a>
    {% else %}
        <a href="{% url "boards_list" via.slug %}"><img src="{% static 'images/structure/default_avatar.png' %}" /></a>
    {% endif %}
    <p><a href="{% url "boards_list" via.slug %}">
        <span>Added via</span><br /><strong>
        {{ via.get_full_name }}
        </strong></a></p>
    {% endwith %}
</article>
{% endif %}
</section>
{% if mlt %}
<section id="pins">
    <h1>Related pins</h1>
    {% spaceless %}
    {% for elem in mlt %}
    {% include 'pin/pin_pin.html' with pin=elem display_user=True %}
    {% endfor %}
    {% endspaceless %}
</section>
{% endif %}
{% endwith %}
{% endblock %}
