{% extends "base.html" %}
{% block header %}{% endblock %}
{% block body %}

<article id="form">
    <header>
    <h1>Select a board</h1>
    </header>
    <form method="post" action="">
    <p><span id="red"><span class="red">*</span></span> Required fields</p>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% spaceless %}
        <div id="preview-wrapper">
            {% if src %}
                <img class="preview" src="{{ src }}" alt="" /></div>
            {% elif resource %}
            <img class="preview" src="{{ MEDIA_URL }}previews/236/{{ resource.previews_path }}" alt="" /></div>
            {% endif %}
        {% endspaceless %}

        <div class="field_wrapper img">
            {{ form.board.label_tag }}<span class="red"> *</span>
            {{ form.board.errors }}
            {{ form.board }}
        </div>

        <div class="field_wrapper img">
            {{ form.description.label_tag }}<span class="red"> *</span>
            {{ form.description.errors }}
            {{ form.description }}
        </div>

        {% spaceless %}
        <p class="center-align submit">
        {% if delete %}
        <a href="{% url "pin_delete" pin.pk %}"><button type="button">{{ delete }}</button></a>
        {% endif %}
        {% if pin %}
            <a href="{% url "board_view" user.slug pin.board.slug %}"><button type="button">Cancel</button></a>
        {% else %}
            <a href="{% url "boards_list" user.slug %}"><button type="button">Cancel</button></a>
        {% endif %}
        <input type="submit" name="save" value="{{ submit }}" />
        </p>
        {% endspaceless %}
    </form>
</article>

{% endblock %}
