{% extends "base.html" %}
{% block title %}
Pick a pin on Pinpict
{% endblock %}
{% block body %}
{% spaceless %}
<section id="pins">


<header>
    <h2>Pick a picture from {{ url }}</h2>
</header>
{% for pict in picts %}
<article class="pin find">
    <div class="buttons-wrapper">
    <form method="post" action="{% url "pin_download" %}">
        {% csrf_token %}
        <input type="hidden" name="href" value="{{ pict.href }}" />
        <input type="hidden" name="url" value="{{ url }}" />
        <input type="hidden" name="alt" value="{{ pict.alt }}" />
        <input type="submit" value="Pin it" class="pinit"/>
    </form>
    <a href="{{ pict.href }}" target="_blank"><img src="{{ pict.href }}" alt="{{ pict.alt }}" width="236px" /></a>
    </div>
    <footer>
        <p class="size"><span class="width"></span> x <span class="height"></span></p>
    </footer>
</article>
{% endfor %}
{% endspaceless %}
</section>
{% endblock body %}

