{% extends "base.html" %}
{% load static %}
{% block title %}
{{ board.title }} on Pinpict
{% endblock %}

{% block body %}
{% spaceless %}
<section id="pins">
<header>
    <h1>{{ board.title }}</h1>
    {% if board.description %}
        <p id="description">{{ board.description }}</p>
    {% endif %}
    <p id="n-pins">{{ board.n_pins }} pin{{ board.n_pins|pluralize }}</p>
    {% if board.policy == 0 %}
    <p id="private">This board is private</p>
    {% endif %}
</header>
<div id="user-wrapper">
<article id="user-compact">
    {% if owner.avatar %}
        <a href="{% url "boards_list" owner.username %}"><img src="{{ MEDIA_URL }}{{ owner.avatar }}" /></a>
    {% else %}
        <a href="{% url "boards_list" owner.username %}"><img src="{% static 'images/structure/default_avatar.png' %}" /></a>
    {% endif %}
    {% if user == owner %}
    <a href="{% url "board_update" owner.slug board.slug %}" title="Edit board"><button>Edit board</button></a>
    {% else %}
        {# add follow link here #}
    {% endif %}
    <h2><a href="{% url "boards_list" owner.username %}">
    {% if owner.first_name or owner.last_name %}
    {{ owner.first_name }} {{ owner.last_name }}
    {% else %}
    {{ owner.username }}
    {% endif %}</a></h2>
    <div class="user-website"><a href="{{ owner.website }}" target="_blank">{{ owner.website }}</a></div>
</article>
</div>
{% if user.is_authenticated and user == owner %}
<article id="create-pin" class="pin">
    <a href="{% url "choose_origin_pin" %}">
    <div class="plus"></div>
    <h1>Add a pin</h1>
    </a>
</article>
{% endif %}
{% for pin in board.pin_set.all %}
<article class="pin">
    <div class="buttons-wrapper">
    {% if owner == user %}
        <a href="{% url 'update_pin' pin.pk %}" title="Edit pin"><button class="edit">Edit</button></a>
    {% endif %}
    <form method="post" action="{% url "create_pin" %}">
        {% csrf_token %}
        <input type="hidden" name="pin" value="{{ pin.pk }}" />
        <input type="submit" value="Pin it" class="pinit"/>
    </form>
    <a href="{% url "pin_view" pin.pk %}" class="pin-link"><img src="{{ MEDIA_URL }}previews/236/{{ pin.resource.previews_path }}" alt="" /></a>
    </div>
    <p class="pin-description">
    {{ pin.description }}
    </p>
    <footer>
    {% if pin.source_domain %}
     <a href="{{ pin.source }}" target="_blank">
         <span>Pinned from</span><br />
       {{ pin.source_domain }}
    </a>
    {% else %}
    <a href=""><span>Uploaded to Pin Pict</span></a>
    {% endif %}
    </footer>
</article>
{% endfor %}
{% endspaceless %}
</section>
{% endblock body %}
