{% extends "base.html" %}
{% load static %}

{% block body %}
{% spaceless %}
<section id="pins">
    <header>
        <ul id="search-filters">
            <li class="unactivated">Pins</li>
            <li><a href="{#{% url "your_pin_search" %}#}?q={{ query }}" title="Search only in your pins">Your Pins</a></li>
            <li><a href="{% url "board_search" %}?q={{ query }}" title="Search only boards">Boards</a></li>
            <li><a href="{#{% url "user_search" %}#}?q={{ query }}" title="Search only users">Users</a></li>
        </ul>
    </header>
    {% for result in page.object_list %}
    {% with pin=result.object %}
    {% include 'pin/pin_pin.html' with display_user=True %}
    {% endwith %}
    {% empty %}
    <article id="error">
        <p class="center-align">
            <em>No results found...</em>
        </p>
    </article>
    {% endfor %}
</section>
    {% if page.has_previous or page.has_next %}
<section id="navigation">
    <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
</section>
    {% endif %}
{% comment %}
    {% if page.paginator.num_pages > 1 %}
<section id="navigation">
    {% include 'pagination/pagination.html' with page_obj=page %}
</section>
    {% endif %}
{% endcomment %}
{% endspaceless %}
{% endblock %}
