{% extends "base.html" %}
{% block header %}{% endblock %}
{% block title %}
Delete a pin
{% endblock %}
{% block body %}

<article id="form">
    <h1>Delete this pin ?</h1>
    <form method="post" action="{{ action }}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>Are you sure you want to permanently delete this pin ?</p>
    <img src="{{ MEDIA_URL }}previews/236/{{ pin.resource.previews_path }}" alt="" />
    <p>{{ pin.description }}</p>
    {% spaceless %}
    <p class="center-align">
    <a href="{% url "boards_list" user.slug %}"><button type="button">Cancel</button></a>
    <input type="submit" name="delete" value="Delete pin" />
    </p>
    {% endspaceless %}
    </form>
</article>
{% endblock %}
