{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block header %}{% endblock %}
{% block body %}
{% with owner=pin.board.user %}
<section id="pin">
<article>
<header>
    <form method="post" action="{% url "create_pin" %}">
        {% csrf_token %}
        <input type="hidden" name="pin" value="{{ pin.pk }}" />
        <input type="submit" value="Pin it" class="pinit"/>
    </form>
    {% if pin.source %}
    <a href="{{ pin.source }}" target="_blank">
    <button type="button">Visit Site</button>
    </a>
    {% endif %}
    <a href="{{ MEDIA_URL }}{{ pin.resource.source_file }}" target="_blank">
    <button type="button">Image</button>
    </a>
    {% if user.is_authenticated and user == owner %}
    <a href="{% url 'update_pin' pin.pk %}">
    <button type="button">Edit</button>
    </a>
    {% endif %}
    <a id="back-to-board" href="{% url "board_view" owner.slug pin.board.slug %}" title="Back to board"><span class="accessibility-text">back to board</span></a>
</header>
{% if prev %}
<a href="{% url "pin_view" prev %}" id="previous-pin" title="Previous pin" rel="prev"><div><span class="accessibility-text">previous pin</span></div></a>
{% endif %}
{% if next %}
<a href="{% url "pin_view" next %}" id="next-pin" title="Next pin" rel="next"><div><span class="accessibility-text">next pin</span></div></a>
{% endif %}
{# !!! look to add a lightbox link here, or a link to full image, in template or not #}
{% if pin.source %}
    {# link to origin url #}
    <a href="{{ pin.source }}" target="_blank">
{% else %}
    {# link to full image #}
    <a href="{{ MEDIA_URL}}{{ pin.resource.source_file }}" target="_blank">
{% endif %}
<div id="image-wrapper">
<img src="{{ MEDIA_URL }}previews/736/{{ pin.resource.previews_path }}" alt="{{ pin.description }}" />
</div>
</a>
<p class="pin-description">
{{ pin.description }}
</p>
<footer>
{% if pin.source %}
<a href="{{ pin.source }}" target="_blank"><span>Found on</span> {{ pin.source_domain }}</a>
{% else %}
{% with resource_user=pin.resource.user %}
<a href="{#{% url "boards_list" resource_user.slug %}#}" target="_blank"><span>Uploaded to Pinpict by</span> {% if resource_user.first_name or resource.user.last_name %}{{ resource_user.first_name }} {{ resource_user.last_name }}{% else %}{{ resource_user.username }}{% endif %}</a>
{% endwith %}
{% endif %}
</footer>
</article>



<article class="user-compact">
    {% if owner.avatar %}
        <a href="{% url "boards_list" owner.username %}"><img src="{{ MEDIA_URL }}{{ owner.avatar }}" /></a>
    {% else %}
        <a href="{% url "boards_list" owner.username %}"><img src="{% static 'images/structure/default_avatar.png' %}" /></a>
    {% endif %}
    <p><a href="{% url "boards_list" owner.username %}">
        <span>Added by</span><br /><strong>
        {% if owner.first_name or owner.last_name %}
        {{ owner.first_name }} {{ owner.last_name }}
        {% else %}
        {{ owner.username }}
        {% endif %}</strong></a> <span class="date">&#149; {{ pin.date_created|naturaltime }}</span></p>
    

</article>
</section>
{% endwith %}
{% endblock %}
