# Production settings
DEBUG = False
TEMPLATE_DEBUG = DEBUG

## cache configuration
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}


ADMINS = (
    ('Lavilotte-Rolle Frédéric', 'pro@lavilotte-rolle.fr'),
)

MANAGERS = ADMINS


## Email configuration
DEFAULT_FROM_EMAIL = 'pro@lavilotte-rolle.fr' # from email for normal messages

SERVER_EMAIL = DEFAULT_FROM_EMAIL # from email for error messages
EMAIL_SUBJECT_PREFIX = '[Pin Pict]'

# search engine real time update by default
# comment it and add a cron job as often as you want with following command:
# python3 manage.py update_index
HAYSTACK_SIGNAL_PROCESSOR = 'haystack.signals.RealtimeSignalProcessor'

# pagination settings
MAX_PIN_PER_PAGE = 100
MAX_BOARD_PER_PAGE = 100

## for production
#EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
#EMAIL_HOST =
#EMAIL_PORT =
#EMAIL_HOST_USER =
#EMAIL_HOST_PASSWORD =
#EMAIL_USE_TLS =

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'pinpict',                      # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': 'pinpict',
        'PASSWORD': 'my_wonderful_db_password',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = '#v04u18pw)rsgry7fhw*7)t0^)nm!l6fod90fb7y8ckbu0u8yx'


# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['pinpict.com', 'www.pinpict.com']

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'Europe/Paris'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-US'

SITE_ID = 1
