<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Pinpict{% endblock %}</title>
    <meta charset="utf-8" />

    {# including css files #}
    {% load static %}
    
    {# PROD: compiled file #}
    {#    <link rel="stylesheet" href="{% static 'css/pinpict.min.css' %}" />{# PROD #}
    
    {# DEVEL: less file #}
    <link rel="stylesheet/less" href="{% static 'css/controller.less' %}" />{# DEVEL #}
</head>
<body>
{% block header %}
<header id="banner-header" role="banner">
    <div id="header-wrapper">
    {% spaceless %}
        <span class="accessibility-text">home</span>
    </a>

    {# place search bar here :D #}
    <h1 id="pinpict"><a href="{% url "home" %}"><span class="accessibility-text">Pinpict</span></a></h1>
    
    {% if user.is_authenticated %}
    <div id="user-bar">
    {% if user.avatar %}
        <img src="{{ MEDIA_URL }}{{ user.avatar }}" height="22px" width="22px" />
    {% else %}
        <img src="{% static 'images/structure/default_avatar.png' %}" height="22px" width="22px" />
    {% endif %}
        {% if user.first_name %}
            {{ user.first_name }}
        {% else %}
            {{ user.username }}
        {% endif %}
        <ul id="user-menu">
            <li><a href="{% url "boards_list" user.slug %}">My boards</a></li>
            <li><a href="{% url "user_profil" %}">Profil</a></li>
            <li><a href="{% url "user_logout" %}">Logout</a></li>
        </ul>
    </div>

    {% else %}
    {# place language select here #}
    <a href="/login/?next={{request.path}}">
        <div id="login-button">
            Login
        </div>
    </a>
    {% endif %}
    {% endspaceless %}
     </div>
     <hr />
</header>
{% endblock %}
{% block body %}
{% endblock %}
{# DEVEL less compilation client side #}
<script src="{% static 'scripts/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'scripts/pinpict.js' %}"></script>
<script src="{% static 'scripts/less-1.7.4.min.js' %}" type="text/javascript"></script>{# DEVEL #}
</body>
</html>

