<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Pinpict{% endblock %}</title>
    <meta charset="utf-8" />

    {# including css files #}
    {% load static %}
    
    {# PROD: compiled file #}
    <link rel="stylesheet" href="{% static 'css/pinpict.min.css' %}" />{# PROD #}
    
    <link rel="icon" type="image/png" href="{% static 'images/structure/pinpict-favicon.png' %}" />

    
    {# DEVEL: less file #}
    {#<link rel="stylesheet/less" href="{% static 'css/controller.less' %}" />{# DEVEL #}
</head>
<body>
{% block header %}
<header id="banner-header" role="banner">
    <div id="header-wrapper">
    {% spaceless %}
        <div id="search-bar">
            <form method="get" action="{% url 'pin_search' %}">
                <input type="text" name="q" placeholder="search" value="{{ query }}" />
                <input type="submit" value="Q" title="search" />
            </form>
        </div>
    <h1 id="pinpict"><a href="{% url "home" %}"><span class="accessibility-text">Pinpict</span></a></h1>
    
    {% if user.is_authenticated %}
    <div id="user-bar">
    {% if user.avatar %}
        <img src="{{ MEDIA_URL }}{{ user.avatar }}" height="22px" width="22px" />
    {% else %}
        <img src="{% static 'images/structure/default_avatar.png' %}" height="22px" width="22px" />
    {% endif %}
            {{ user.get_short_name }}
        <ul id="user-menu">
            <li><a href="{% url "boards_list" user.slug %}">My boards</a></li>
            <li><a href="{% url "user_pins" user.slug %}">My pins</a></li>
            <li><a href="{% url "user_profil" %}">Profil</a></li>
            <li><a href="{% url "notifications_list" %}">Notifications {% if user.n_unread_notifications %}
                        <div class="rounded float-right">{{ user.n_unread_notifications }}</div>
                    {% endif %}
                </a></li>
            {% if user.is_staff %}
            <hr />
            <li><a href="/admin/">Admin</a></li>
            {% endif %}
            <hr />
            <li><a href="{% url "user_logout" %}">Logout</a></li>
        </ul>
    </div>

    {% else %}
    {# place language select here #}
    <a href="/login/?next={{request.path}}">
        <div id="login-button">
            Login
        </div>
    </a>
    {% endif %}
    {% endspaceless %}
     </div>
     <hr />
</header>
{% endblock %}
{% block body %}
{% endblock %}
<script src="{% static 'scripts/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'scripts/pinpict.js' %}"></script>
{# DEVEL less compilation client side #}
{#<script src="{% static 'scripts/less-1.7.4.min.js' %}" type="text/javascript"></script>{# DEVEL #}
</body>
</html>

