{% extends "base.html" %}
{% block header %}{% endblock %}
{% block body %}

<article id="form">
    <header>
    <h1>{{ title }}</h1>
    </header>
    {% if form.is_multipart %}
    <form method="post" action="{{ action }}" enctype='multipart/form-data'>
    {% else %}
    <form method="post" action="{{ action }}">
    {% endif %}
    <p><span id="red"><span class="red">*</span></span> Required fields</p>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="field_wrapper">
        {{ field.label_tag }}{% if field.field.required %}<span class="red"> *</span>{% endif %}
        {{ field.errors }}
        {{ field }}{% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
    </div>
    {% endfor %}
    {% spaceless %}
    <p class="center-align submit">
    {% if delete %}
    <a href="{% url "board_delete" user.slug board.slug %}"><button type="button">{{ delete }}</button></a>
    {% endif %}
    <a href="{% url "boards_list" user.slug %}"><button type="button">Cancel</button></a>
    <input type="submit" name="save" value="{{ button }}" />
    </p>
    </form>
    {% endspaceless %}
</article>
{% endblock %}
