{% extends "base.html" %}
{% block title %}
{{ boards.0.user.username }} on Pinpict
{% endblock %}

{% block body %}
{% with owner=boards.0.user %}
<section id="boards">
<article id="user">
    <img src="{{ owner.avatar }}" alt="{{ owner.username }}" />
    <h1>{{ owner.username }}</h1>
    {% if owner.website %}
    <div class="user-website">{{ owner.website }}</div>
    {% endif %}
</article>
{% spaceless %}
{% if user.is_authenticated and user == owner %}
<article id="create-board">
    <a href="{% url "board_create" %}">
    <h1>Create a board</h1>
    </a>
</article>
{% endif %}
{% for board in boards %}
<article class="board">
    <a class="board-previews" href="{% url "board_view" board.user.slug board.slug %}" title="More from {{ board.title }}">
    <header>
        <h1>{{ board.title }}</h1>
    </header>
        {% with first=board.pin_set.all.0 %}
        <img class="board-main-preview" src="/media/216-146/{{ first.resource.pathname }}" alt="{{ board.title }}" />
        {% endwith %}
        <ul>
        {% for preview in board.pin_set.all|slice:"1:5" %}
        <li><img class="board-small-preview" src="/media/45/{{ preview.resource.pathname }}" alt="{{ board.title }}" /></li>
        {% endfor %}
        </ul>
        <div class="board-n-pins">{{ board.n_pins }}</div>
    </a>
{% if user.is_authenticated and user == owner %}
<a href="{% url "board_update" owner.slug board.slug %}" title="Edit board"><button>Edit</button></a>
{% endif %}
</article>
{% endfor %}
{% endspaceless %}
</section>
{% endwith %}
{% endblock body %}

