{% extends "base.html" %}
{% load static %}
{% block title %}
{{ owner.username }} on Pinpict
{% endblock %}

{% block body %}
<section id="boards">
<article id="user">
    {% if owner.avatar %}
    <img src="{{ MEDIA_URL }}{{ owner.avatar }}" alt="{{ owner.username }}" />
    {% else %}
    <img src="{% static 'images/structure/default_avatar.png' %}" alt="{{ owner.username }}" />
    {% endif %}
    {% if owner.first_name or owner.last_name %}
        <h1>{{ owner.first_name }} {{ owner.last_name }}</h1>
    {% else %}
        <h1>{{ owner.username }}</h1>
    {% endif %}
    <hr />
    {% if owner.website %}
    <div class="user-website"><a href="{{ owner.website }}" target="_blank">{{ owner.website }}</a></div>
    {% endif %}
    {% spaceless %}
    <ul>
        <li class="selected"><a href=""><span class="number">{{ owner.n_boards }}</span></br><span class="title">Board{{ owner.n_boards|pluralize }}</span></a></li>
        <li><a href=""><span class="number">{{ owner.n_pins }}</span></br><span class="title">Pin{{ owner.n_pins|pluralize }}</span></a></li>
    </ul>
    {% endspaceless %}
</article>
{% spaceless %}
{% if user.is_authenticated and user == owner %}
<article class="create-board">
    <a href="{% url "board_create" %}">
    <div class="plus"></div>
    <h1>Create a board</h1>
    </a>
</article>
{% endif %}
{% for board in boards %}
<article class="board" id="{{ board.id }}">
    <a class="board-previews" href="{% url "board_view" board.user.slug board.slug %}" title="More from {{ board.title }}">
    <header>
        <h1>{{ board.title }}</h1>
    </header>
        {% with first=board.pin_set.all.0 %}
        {% if first %}
            <img class="board-main-preview" src="{{ MEDIA_URL }}previews/216-160/{{ first.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-main-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        {% endwith %}
        <ul>
        {% with previews=board.pin_set.all|slice:"1:5" %}
        <li>
        {% if previews.0 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.0.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        <li>
        {% if previews.1 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.1.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        <li>
        {% if previews.2 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.2.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        <li>
        {% if previews.3 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.3.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        {% endwith %}
        </ul>
        <div class="board-n-pins">{{ board.n_pins }} Pin{{ board.n_pins|pluralize }}</div>
    </a>
{% if user.is_authenticated and user == owner %}
<a href="{% url "board_update" owner.slug board.slug %}" title="Edit board"><button type="button">Edit</button></a>
{% endif %}
</article>
{% endfor %}
{% endspaceless %}
</section>


{% if user.is_authenticated and user == owner %}
{% spaceless %}
<div id="private-boards-wrapper">
<section id="private-boards">
    <h2>Private boards</h2>
<article class="create-board">
    <a href="{% url "private_board_create" %}">
        <div class="plus"></div>
    <h1>Create a private board</h1>
    </a>
</article>
{% for board in private_boards %}
<article class="board" id="{{ board.id }}">
    <a class="board-previews" href="{% url "board_view" board.user.slug board.slug %}" title="More from {{ board.title }}">
    <header>
        <h1>{{ board.title }}</h1>
    </header>
        {% with first=board.pin_set.all.0 %}
        {% if first %}
            <img class="board-main-preview" src="{{ MEDIA_URL }}previews/216-160/{{ first.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-main-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        {% endwith %}
        <ul>
        {% with previews=board.pin_set.all|slice:"1:5" %}
        <li>
        {% if previews.0 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.0.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        <li>
        {% if previews.1 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.1.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        <li>
        {% if previews.2 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.2.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        <li>
        {% if previews.3 %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ previews.3.resource.previews_path }}" alt="{{ board.title }}" />
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        </li>
        {% endwith %}
        </ul>
        <div class="board-n-pins">{{ board.n_pins }} Pin{{ board.n_pins|pluralize }}</div>
    </a>
<a href="{% url "board_update" owner.slug board.slug %}" title="Edit board"><button type="button">Edit</button></a>
</article>
{% endfor %}
{% endspaceless %}
{% endif %}
</section>
</div>
{% endblock body %}

