{% load static %}
{% with name=owner.get_full_name %}
<article class="user">
    <a class="board-previews" href="{% url "boards_list" owner.slug %}" title="More of {{ name }}">
    <header>
        <h1>{{ name }}</h1>
        <p><span class="numbers">{{ owner.n_boards }} boards &#149; {{ owner.n_pins }} pins</span></p>
    </header>
    {% if owner.avatar %}
        <img class="user-avatar" src="{{ MEDIA_URL }}{{ owner.avatar }}" />
    {% else %}
        <img class="user-avatar" src="{% static 'images/structure/default_avatar.png' %}" />
    {% endif %}
    <ul>
    {% for board in owner.get_public_boards|slice:":4" %}
        <li>
        {% with preview=board.pin_set.first %}
        {% if preview %}
            <img class="board-small-preview" src="{{ MEDIA_URL }}previews/50/{{ preview.resource.previews_path }}" alt="{{ board.title }}"/>
        {% else %}
            <img class="board-small-preview" src="{% static 'images/structure/grey58.png' %}" alt="" />
        {% endif %}
        {% endwith %}
        </li>
    {% endfor %}
    </ul>
    </a>
<a href="{% url "boards_list" owner.slug %}" title="View user"><button type="button">View</button></a>

{% comment %}
{% if user.is_authenticated and user == owner %}
<a href="{% url "board_update" owner.slug board.slug %}" title="Edit board"><button type="button">Edit</button></a>
{% else %}
<a href="{% url "board_view" board.user.slug board.slug %}" title="Follow user"><button type="button">Follow</button></a>
{% endif %}
{% endcomment %}
</article>
{% endwith %}
